<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="php-intervalGraph test suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="junit" target="/tmp/logfile.xml"/>
        <log type="coverage-clover" target="/tmp/coverage.xml"/>
    </logging>
</phpunit>